---
displayed_sidebar: appDevSidebar
title: "签名/验签"
original_url: /docs/dev/app-dev/system/system-security/huks-kit/huks-external-key-management/huks-ukey-signing-signature-verification
format: md
upstream_id: dev/app-dev/system/system-security/huks-kit/huks-external-key-management/huks-ukey-signing-signature-verification
last_sync: 2026-06-07
sync_hash: 31f24a2a
---
* **[签名/验签介绍及算法规格](/docs/dev/app-dev/system/system-security/huks-kit/huks-external-key-management/huks-ukey-signing-signature-verification/huks-ukey-signing-signature-verification-overview)**
* **[签名/验签(ArkTS)](/docs/dev/app-dev/system/system-security/huks-kit/huks-external-key-management/huks-ukey-signing-signature-verification/huks-ukey-signing-signature-verification-arkts)**
* **[签名/验签(C/C++)](/docs/dev/app-dev/system/system-security/huks-kit/huks-external-key-management/huks-ukey-signing-signature-verification/huks-ukey-signing-signature-verification-ndk)**
