---
title: "验证应用数据迁移"
original_url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/app-data-migration-verification
format: md
---


* **[开发者自验证](https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/self-verification)**
* **[端到端验证](https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/e2e-verification)**
