---
title: "在历史版本设备上进行应用的兼容性验证"
format: md
original_url: https://developer.huawei.com/consumer/cn/doc/harmonyos-guides/compatibility-verification---


# 在历史版本设备上进行应用的兼容性验证
