---
title: "在历史版本设备上进行应用的兼容性验证"
format: md
original_url: /docs/dev/release-notes/compatibility-verification
---


# 在历史版本设备上进行应用的兼容性验证
